/*Current Page*/
.profile__currentPage{
    border: 2px solid rgba(250,95,105,.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    opacity: 0.75;
}

.profile__currentPage>h2{
    padding: 10px;
    color: yellow;
}

.profile__currentPage>p{
    padding: 10px;
    color: aqua;
    font-size: 25px;
}

.returnToMenu{
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 20px;
    color: white;
    border-top: 3px solid yellow;
}

.returnToMenu:hover{
    text-decoration: underline;
    cursor: pointer;
}