/*MENU*/

.profile__menu{
    flex: 0.9;
    border: 2px solid rgba(250,95,105,.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    opacity: 0.75;
}

.profile__menu>h2{
    color: yellow;
    padding: 20px;
    text-decoration: underline;
}

.menu__navbar{
    list-style-type: none;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__navbar>li{
    padding: 10px;
    font-size: 25px;
}

.menu__navbar>li:hover{
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
}
