@font-face{
  font-family: 'Arcade';
  src: local('Arcade'), url('./fonts/arcade/arcade.TTF');
  font-weight: normal;
}

body {
  font-family: 'Arcade';
  margin: 0;
  background-image: linear-gradient(
      to bottom, rgba(9, 0, 59, 0.6), rgba(34, 0, 30, 0.55)
    ), url("images/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.blink {
  animation: blinkerslow 1.5s linear infinite;
}
@keyframes blinkerslow {
  50% {
      opacity: 0.4;
  }
}